body{
    padding: 0;
    margin:0;
    overflow-x: hidden; /* Add this line to hide overflow */
    background-color: #1C1F25;

}
.friendsList{
    position: absolute;
    left: 0;
    background-color: hsl(220, 14%, 13%);
    
    width: 20%;
    min-height: 100vh;
}

.viwer{
  background-color: #14181B;
  position: absolute;
  left: 360px;
  width: calc(100% - 370px);
  height: 100%;
}

.messageSender {
    position: absolute;
    bottom: 0;
    width: 85%;
    background-color: #14181B;
    padding: 10px;
  }
  
  .messageForm {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .messageForm input {
    flex-grow: 1;
    height: 20px;
    border: none;
    background-color: #40444b;
    color: #fff;
    padding: 5px;
    font-size: 12px;
    border-radius: 5px;
    margin-right: 10px;
    box-shadow: 8px #14181B;
    width: 70%;
    
  }
  

  
  
  .messageForm button {
    height: 40px;
    border: none;
    background-color: #EA464A;
    color: #fff;
    padding: 10px ;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .messageForm button:hover {
    background-color: #EA464A
  }
  .displayfriends{
    margin-top: 5px;
    color: #e4e7eb;
    background-color: #484a4d28;
    font-family: Arial, Helvetica, sans-serif ;
    font-size: bold;
    height: 60px;
    width: calc(100% - 5px);
  }
 .displayfriends img{
  position: relative;
  top:12px;
  left: 10px;
  border-radius: 50%;
 }
 .displayfriends #name{
  position: relative;
  bottom: 49px;
  left: 60px;
 }
 #lastMessage{
  position: absolute;
  top: 16px;
  left: 65px;
  color: #e4e7eb7c;
 }
 .messageDisplay {
  position: relative;
  height: calc(100% - 180px); /* Changed to account for the header and input box */
  overflow-y: scroll; /* Added to enable scrolling when messages overflow the container */
  width: 100%;
}

.messageDisplay p {
  min-height: 30px;
  display: inline-block;
  padding: 6px;
  margin: 5px 0;
  border-radius: 7px;
  max-width: 300px;
  word-wrap: break-word;
  white-space: pre-wrap;
  text-indent: 0;
}

.writer p {
  background-color: #EA464A;
  color: #fff;
  margin-right: 50px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px 10px 0 10px;
  float: right;
  margin-right: 380px;
 
}
.writer{
  position: relative;
  width: 50%;
  left: 50%;
}

.reader p{
  background-color: #2b2b2f;
  color: #fff;
  margin-right: 50px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px 10px 0 10px;
  margin-right: 380px;
}
.reader{
  position: relative;
  width: 50%;
  
  left: 5px;
}

.messageSender {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background-color: #14181B;
}

.messageForm {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.messageForm input {
  flex-grow: 1;
  height: 30px;
  border: none;
  background-color: #40444b;
  color: #fff;
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  margin-right: 10px;
  box-shadow: 8px
}
.options{
  position: sticky;
  height: 60px;
  width: 100%;
  box-shadow: 0 0 3px 0 black;
}
.options img{
  border-radius: 50%;
  margin-left: 12px;
  margin-top: 6px;
  
}
.options h4{
  color: #e4e7eb;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  position: absolute;
  top:-6px;
  left: 60px;
}
.options a{
  position:absolute;
  right: 12px;
  top: 20px;
  color: #EA464A;
}